@{
    ViewBag.Title = "Obrigado";

    <div class="jumbotron">
        <h3 style="color: gray">Obrigado pelo seu contato, em breve você receberá um e-mail contendo os vídeos de demonstração</h3>
    </div>
    
    @section Scripts {
        @Styles.Render("~/Content/bootstrap")
        @Scripts.Render("~/bundles/bootstrap")
    }
}

